
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="static/css/about.css">
</head>

<body>
    <div class="main" >
        <div class="top">
            <div class="head-bar">
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Contact</a>
                <a href="">Product</a>

            </div>

            <div class="top-body">
                <center>
                    <div class="top-mid">
                        <h1>Plants</h1>
                        <p>Plants are one of the biggest gifts of god.... We can live on earth due to plants...they
                            provides us fresh air
                            Plants are living beings and an important part of nature.
                            They can make their food by the process of photosynthesis.
                            Plants are green in colour due to the presence of a pigment called chlorophyll.
                        </p>
                    </div>
                </center>
            </div>
        </div>



    </div>
</body>

</html>