{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Greeno</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- animate css -->
      <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
      <!-- jquery css -->
      <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
      <!-- meanmenu css -->
      <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}">
      <!-- niceselect css -->
      <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
      <!-- normalize css -->
      <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
      <!-- owl carousel css -->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <!-- slick css -->
      <link rel="stylesheet" href="{% static 'css/slick.css' %}">

      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo"> <a href="index.html"><img src="{% static 'images/logo.png' %}" alt="#"></a> </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <div class="menu-area">
                        <div class="limit-box">
                           <nav class="main-menu">
                              <ul class="menu-area-main">
                                 <li class="last"><a href="#"><img src="{% static 'images/search_icon.png' %}" alt="icon"/></a></li>
                                 
                                 <li> <a href="#about">About</a> </li>
                                 <li><a href="#plant">Plant</a></li>
                                 <li><a href="#gallery">Gallery</a></li>
                                 {% if user.is_authenticated %}
                                 <li><a href="#contact">{{user.username}}</a></li>
                                 
                                 
                                 
                                    <li class="nav-item">
                                       <a class="nav-link" href="logout/">logout</a>
                                  </li>
                                  {% else %}
                                 <li class="nav-item">

                                    <a class="nav-link" href="login/">Login</a>
                                 </li>
                                
                                
                                 <li class="nav-item">
                                    <a class="nav-item" href="register/">Register</a>
                                 {% endif %}
                                 </li>
                                    

                                    
                                    
                                    
                                        
                                 

                                 


                                  
                                    
                                    
                                
                                 
                              
                                 
                              </ul>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
      </header>
      <!-- end header -->
      <section >
         <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#main_slider" data-slide-to="0" class="active"></li>
               <li data-target="#main_slider" data-slide-to="1"></li>
               <li data-target="#main_slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-caption ">
                              <h1>Welcome To The <strong class="color">Plants Worlds</strong></h1>
                              <p>A plant comprises more than 95% water; every tree we find around us was once a plant many years ago. br
                                 It's no surprise that they provide sustenance to living beings; without plants, it would be impossible to have a life on earth.</p>
                              <a class="btn btn-lg btn-primary" href="#" role="button">About</a>
                              <a class="btn btn-lg btn-primary" href="#" role="button">Contact US</a>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box">
                              <figure><img src="{% static 'images\plant hand.jpg' %}" alt="img"/></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-caption ">
                              <h1>Welcome To The <strong class="color">Nutrients Plants</strong></h1>
                              <p>A plant comprises more than 95% water; every tree we find around us was once a plant many years ago. <br>
                                  It's no surprise that they provide sustenance to living beings; without plants, it would be impossible to have a life on earth.</p>
                              <a class="btn btn-lg btn-primary" href="#" role="button">About</a>
                              <a class="btn btn-lg btn-primary" href="#" role="button">Contact US</a>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box ">
                              <figure><img src="{% static 'images\1251026.jpg' %}" alt="img"/></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="row marginii">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="carousel-caption ">
                              <h1>Welcome To The <strong class="color">Nutrients Plants</strong></h1>
                              <p>A plant comprises more than 95% water; every tree we find around us was once a plant many years ago. br 
                                 It's no surprise that they provide sustenance to living beings; without plants, it would be impossible to have a life on earth.</p>
                              <a class="btn btn-lg btn-primary" href="#" role="button">About</a>
                              <a class="btn btn-lg btn-primary" href="#" role="button">Contact US</a>
                           </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                           <div class="img-box">
                              <figure><img src="{% static 'images\pexels-markus-spiske-113335.jpg' %}" alt="img"/></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class='fa fa-angle-left'></i></a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class='fa fa-angle-right'></i>
            </a>
         </div>
      </section>
      <!-- plant -->
      <div id="plant" class="plants">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage">
                     <h2>Our Wonderful plants</h2>
                     <span>A beautiful plant is like having a friend around the house</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="{% static 'images/plant sunflower.jpg' %}" alt="img"/></figure>
                     <h3>Sunflower</h3>
                     <p>The 'flower' of the common sunflower is actually a pseudanthium, or flowerhead, made up of many small flowers.
                        The outer yellow 'petals' on the flowerhead are known as ray flowers and are made up of multiple petals fused together.
                         Ray petals are usually yellow but can sometimes be red or orange.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="{% static 'images\pexels-fox-750829.jpg' %}" alt="img"/></figure>
                     <h3>Rose</h3>
                     <p>Roses are the epitome of beauty, from their dazzling color combinations and their sweet scent to their rows of delicate petals.
                         They make a stunning addition to a garden or gift — these quotes about roses and beauty are a great way to show someone that you honor their inner and outer radiance.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="{% static 'images\african violet (1).jpg' %}" alt="img"/></figure>
                     <h3>African violet</h3>
                     <p>African violets are perhaps the most popular flowering houseplants grown in the world today. 
                        There are many reasons for this: The plants generally flower the year round, giving an almost continuous display of blooms. 
                        They require the same temperatures humans find comfortable, making them easy to raise in our homes.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="{% static 'images/lavender1.jpg' %}" alt="img"/></figure>
                     <h3>Lavender</h3>
                     <p>Lavender flowers represent purity, silence, devotion, serenity, grace, and calmness. 
                        Purple is the color of royalty and speaks of elegance, refinement, and luxury, too. 
                        The color is also associated with the crown chakra, which is the energy center associated with higher purpose and spiritual connectivity.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="{% static 'images/lotus.jpg' %}" alt="img"/></figure>
                     <h3>Lotus</h3>
                     <p>The lotus was chosen as the national flower because it enjoyed a significant presence in ancient traditions, scriptures and mythology.
                         The Bhagavad Gita considers it a metaphor for detachment:
                         Just as the lotus remains untouched by the muddy waters in which it grows, human beings should rise above worldly attachments.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="{% static 'images/orchid (1).jpg' %}" alt="img"/></figure>
                     <h3>Orchid</h3>
                     <p>The scientific name for the orchid is the Orchidaceae. This flower is among one of the largest families of flowering plants.
                        It is estimated that there are 17,000 to 35,000 different species of orchids.
                         These types of flowers can grow in all terrestrial ecosystems, with the exception of North and South Pole.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end plant -->
      <!-- about -->
      <div id="about" class="about">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                     <div class="about-box">
                        <h2>50</h2>
                        <div class="white-bg">
                           <span>Satisfaction</span> 
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                     <div class="about-box">
                        <h2>50</h2>
                        <div class="white-bg">
                           <span>Free Delivery</span> 
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                     <div class="about-box">
                        <h2>50</h2>
                        <div class="white-bg">
                           <span>Store Locators</span> 
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="about-box">
                     <div class="titlepage">
                        <h2>About US</h2>
                        <span>Plants are living organisms that belong to the Plantae kingdom. The evolution of plants has been a crucial part of environmental development.
                                  Planting more trees helps in maintaining the ecosystem and saves the environment from the harmful effects of global warming
                                   Plants also include various other types called bushes, green algae, mosses, vines, trees, herbs, etc. Botany is the study of plants and their features and characteristics.
                                  To learn more about plants and how to write a paragraph on plants, refer to the samples provided below.</span> 
                        <div class="read-more">
                           <a  href="#">Read More</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      
      <!--Gallery -->
      <div id="gallery" class="Gallery">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Gallery </h2>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid margin-r-l">
            <div class="row">
               {% for i in data %}
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 thumb">
                 
                  <div class="Gallery-box">
                     <figure>
                        <h3>
                           {{i.name}}
                        </h3>
                        <!-- <a  href="{{i.img.url}}" class="fancybox" rel="ligthbox">  -->
                        <img src="{{i.img.url}}" class="zoom img-fluid "  alt="">
                        <!-- </a> -->
                        <span class="hoverle">
                        <a href="product/?id={{i.id}}" class="fancybox" rel="ligthbox">Buy</a>
                       
                        </span>  
                     </figure>
                  </div>
                  
               </div>
               {% endfor %}
               
              
               
              
             
            </div>
         </div>
         <!-- end Gallery -->
      <!--contact -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Contact Us</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 paddimg-right">
                  <div class="row">
                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <form>
                           <div class="row">
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                 <input class="form-control" placeholder="Name" type="text" name="Name">
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                 <input class="form-control" placeholder="Email" type="text" name="Email">
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                 <input class="form-control" placeholder="Phone" type="text" name="Phone">
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                 <textarea class="textarea>" placeholder="Message" type="text" name="Message"></textarea>
                              </div>
                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                 <a href="#">Read More</a>
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="map_section">
                           <figure><img src="{% static 'images/map.jpg' %}"></figure>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 paddimg-left">
                  <div class="Nursery-img">
                     <figure>
                        <img src="{% static 'images/D:\sample project\Plant_World\static\images\pexels-jatuphon-buraphon-348689.jpg' %}" alt="img"/>
                        <div class="text-box">
                          <h3 style="color: rgba(0, 128, 0, 0.751);">Best Green Nursery</h3>
                        </div>
                     </figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      <!-- footer -->
      <footer>
         <div id="contact" class="footer">
            <div class="container">
               <div class="row pdn-top-30">
                  <div class="col-md-12 ">
                     <div class="footer-box">
                        <div class="headinga">
                           <h3>Address</h3>
                           <span>Demo Store .New York  United States</span>
                           <p>(+71 98765348)</p>
                        </div>
                        <ul class="location_icon">
                           <li> <a href="#"><img src="icon/facebook.png'"></a></li>
                           <li> <a href="#"><img src="icon/Twitter.png"></a></li>
                           <li> <a href="#"><img src="icon/linkedin.png"></a></li>
                           <li> <a href="#"><img src="icon/instagram.png"></a></li>
                        </ul>
                        <div class="menu-bottom">
                           <ul class="link">
                              <li> <a href="#">Home</a></li>
                              <li> <a href="#">About</a></li>
                              <li> <a href="#"> Plant</a></li>
                              <li> <a href="#">Gallery</a></li>
                              <li> <a href="#"> Contact us</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <p style="color: blueviolet;">Copyright 2019 All Rights Reserved Design By  <a href="https://html.design/">Free Html Templates</a></p>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
      <script src="{% static 'js/jquery.validate.js' %}"></script>
      <!-- javascript --> 
      
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         
      </script> 
   </body>
</html>